<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="Hackerearth Task to imitate CODEPAGE">

        {% load staticfiles %}

        <title>Sample CodePage</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.css' %}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        
        <style>

            #editor {
              
              height: 50cm; 
              border: 0px solid #444;
              overflow: hidden;
            }
 
            .float-left:{
              float: left;
              margin-left: auto;
              margin-right: auto;
            }

            .float-right:{
              float: right;
              margin-left: auto;
              margin-right: auto;
            }
            .save-code:{
                background-color: #428bca;
            }
           

        </style>   

        
           
    </head>

    <body>

        {% load front_tags %}
        {{form.errors}}

            
        {{ form.non_field_errors }}

        <!-- header-->
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a href="#" class="navbar-brand">Code Page</a>
                
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <div class="collapse navbar-collapse navHeaderCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">New Code</a></li>
                        <li><a href="https://github.com/HackerEarth/hackerearth.vim" target="_blank">Vim Plugin</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Page content -->
        <div class="container" >
            <!-- FileName area -->

            <div>
               
               <div>

                <a class='file-name' id='file-name' onclick=" $('#filename-text').show();var x = document.getElementById('file-name').value;
                        $('#input_name').val(x);">
                    <!-- return name-change();return false; -->
                    <div class="float-left" title="Click to rename">
                        Untitled Page
                    </div>
                </a>

                </div>
                
                
                <div id="filename-text" class="filename-text" style="display:none">
                    <form> {% csrf_token %}

                        
                        <div class="floating-wrapper">

                                <input type="text" name="filename" id="input_name" value=""/>
                                <button id = "update-name" type="button" class="btn-primary" onclick="fn2()">Save</button>
                                
                                <a id="filename-cancel" onclick="fn()" >
                                    Cancel
                                </a>

                         </div>

                         <script>
                            function fn2()
                            {
                                $('#filename-text').hide();
                                        var x = document.getElementById('input_name').value;if(x==''){alert('enter some value');}else
                                        {document.getElementById('file-name').innerHTML = x;}
                            }
                            function fn()
                            {
                                $('#filename-text').hide();
                                var x = document.getElementById('file-name').value;
                                $('#input_name').val(x);
                            }
                        </script>

                     </form>
                 </div>
                

            </div>


            <hr class="hr">
            
            <!-- Coding, language, save area -->
            <div id="code_area" style="width:80%; float:left" class="jumbotron">

                {% block content %}   
                {% load wysiwyg %}
                {% wysiwyg_setup %}  

                <form method="POST" class="code-form" id="code-section">{% csrf_token %}
                        <!-- choose language -->
                    <div style="width:20%;float:left">
                        {{ form.lang }}
                    </div>

                        <!-- save the code -->
                    <div style="float:right;width:10%;background-color:green" class="float-left " onclick="save('0c7a8ep');return false;">
                        <div style="background-color:green" id="save-code">
                            <center>
                                <font style="color:white">Save</font>
                            </center>
                        </div>
                    </div>

                    <br>
                    <br>
                    
                    <!-- code editor -->
                    <div id="editor" style="float:left;width:100%;height:400px;background-color:white">

                        <div id="code1">printf("hello world!!!");
                        </div>

                    </div>
                        

                            {{ form.code }}
                            <script type="text/javascript">
                                $("#code").hide();
                                $("#code").val("printf('hello world!!!');");</script>
                    <br>
                    <br>
                    <br>
                    
                    <div id ="enterInput" onclick="return displayInput();return false;"  >
                        <input type="checkbox" id="check" name="input-yes" value="yes" onclick="fn3(); " > Use Custom input for testing
                    </div>
                    <br>
                    <br>
                    <script type="text/javascript">
                        function fn3()
                        {
                            var c=document.getElementById('check');
                            if(c.checked)
                            {
                                $('#inputEnter').show();
                                
                            }
                            else
                            {
                                
                                $('#inputEnter').hide();
                                $("#input1").val('');
                            }
                            
                        }
                        
                    </script>

                    <div id="inputEnter" style="display:none">
                        <textarea id="input1" class="form-control">

                        </textarea>
                    </div>
                    <br>
                    <br>
                    <!-- compile and run the code -->
                    <button type="submit" class="save btn btn-success" style="float:right" onclick="fn4()">Compile and Run</button>
                        
                </form>
                <script type="text/javascript">
                    function fn()
                    {
                        alert("nonoon");
                        alert("nonono");  
                        var code = $("#code").val();
                        var lang = $("#lang option:selected").val();
                        var input = $("input1").val();
                        // var csrftoken = getCookie('csrftoken');

                        $.ajax({  
                          url: "/",  
                          type: 'POST',
                          data: { code: code, lan: lang, input1:input1},
                            success: function(response) {
                                result = JSON.parse(response); 
                                if (result.error) { 
                                    
                                    alert(result.error_text);
                                } else {  // Success
                                        $("#output").show();
                                        document.getElementById('output-ans').innerHTML=result;
                                        print "yes"
                                        //Here do whatever you need with the result;                                                  
                                    } 
                                }
                            }
                        });            
                    }
                </script>
                <script type="text/javascript">
                    $('code-section').submit(function(e){
                        alert("nonoon");
                        e.preventDefault(); 
                        alert("nonono");  
                        var code = $("#code").val();
                        var lang = $("#lang option:selected").val();
                        var input = $("input1").val();
                        // var csrftoken = getCookie('csrftoken');

                        $.ajax({  
                          url: "/",  
                          type: 'POST',
                          data: { code: code, lan: lang, input1:input1},
                            success: function(response) {
                                result = JSON.parse(response); 
                                if (result.error) { 
                                    
                                    alert(result.error_text);
                                } else {  // Success
                                        $("#output").show();
                                        document.getElementById('output-ans').innerHTML=result;
                                        print "yes"
                                        //Here do whatever you need with the result;                                                  
                                    } 
                                }
                            }
                        });              
                   
                    });
        
                </script>
                
                     
                {% endblock %}
            </div>
            <div id="details" style="float:right;width:20%">
                <center>
                     <b>Activity Status</b>
                     <hr class="hr">
                      Run Count: {{ run_count}}
                </center>
            </div>

            

            <div id="output" style="float:left;width:80%;display:none">
                <b>
                   <font style="color:black">
                        Output
                    </font>
                </b>
                <hr>
                <div id="output-ans">
                output
                </div>
                <br>
                <br>
                <b>
                    <font style="color:black">
                        Input
                    </font>
                </b>
            </div>
        </div>
            

  

        <script src="{% static 'ace-builds-master/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
        <!-- Ace Editor is loaded because of this-->
        <script>
            var editor = ace.edit("code1");
            editor.setTheme("ace/theme/default");
            editor.session.setMode("ace/mode/ccpp");
            editor.setOptions({
                maxLines: 30
            
            });
            var textarea = $('#code').hide();
            editor.getSession().setValue(textarea.val());
            editor.getSession().on('change', function(){
              textarea.val(editor.getSession().getValue());
            });

            $('#lang').on('change', function(){
                
                var newMode = $("#lang option:selected").val();
                if (newMode =="C" )
                {
                    editor.getSession().setMode("ace/mode/ccpp");
                    var text = "printf('Hello World!!')";
                    editor.getSession().setValue(text);
                }
                else if(newMode =="CPP")  
                {
                    editor.getSession().setMode("ace/mode/ccpp");
                    var text = "cout << 'hello world'";
                    editor.getSession().setValue(text);
                }
                else if(newMode=="PYTHON")
                {
                    editor.getSession().setMode("ace/mode/python");
                    var text = "print 'hello world'";
                    editor.getSession().setValue(text);
                }
                else
                {
                    editor.session().setMode("ace/mode/ccpp");
                }
                });
        </script>

        {% front_edit_scripts %}

    </body>
</html>